In [7]:
import os

import pandas as pd
pd.set_option('display.max_rows',6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns',10)

In [8]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'))

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,...,900.0,sqft,NaN,NaN,1966.0

In [11]:
df.shape

(1000, 15)

In [12]:
df.shape[0]

1000

In [13]:
df.shape[1]

15

In [14]:
len(df)

1000

In [15]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [16]:
df.columns

Index([u'ID', u'Address', u'Latitude', u'Longitude', u'DateOfSale',
       u'SalePrice', u'SalePriceUnit', u'IsAStudio', u'BedCount', u'BathCount',
       u'Size', u'SizeUnit', u'LotSize', u'LotSizeUnit', u'BuiltInYear'],
      dtype='object')

In [17]:
df[ [5, 6] ]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
..         ...           ...
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

In [18]:
type(df[ [5, 6] ])

pandas.core.frame.DataFrame

In [19]:
df[ [7] ]

    IsAStudio
0       False
1       False
2       False
..        ...
997     False
998     False
999     False

[1000 rows x 1 columns]

In [20]:
type(df[ [7,] ])

pandas.core.frame.DataFrame

In [21]:
df[ ['SalePrice', 'SalePriceUnit'] ]

     SalePrice SalePriceUnit
0    710000.00             $
1         2.15            $M
2         5.60            $M
..         ...           ...
997  830000.00             $
998  835000.00             $
999  825000.00             $

[1000 rows x 2 columns]

In [23]:
# "df[ ['SalePrice', 6] ]

In [24]:
df['Address']

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

In [25]:
type(df['Address'])

pandas.core.series.Series

In [26]:
df.Address

0      55 Vandewater St APT 9, San Francisco, CA
1            740 Francisco St, San Francisco, CA
2            819 Francisco St, San Francisco, CA
                         ...
997         33 Santa Cruz Ave, San Francisco, CA
998            1821 Grant Ave, San Francisco, CA
999             1200 Gough St, San Francisco, CA
Name: Address, dtype: object

In [27]:
df.Address.name

'Address'

In [28]:
df.columns.get_loc('BedCount')

8

In [29]:
df[ [df.columns.get_loc('BedCount')] ]

     BedCount
0         1.0
1         NaN
2         2.0
..        ...
997       3.0
998       2.0
999       1.0

[1000 rows x 1 columns]

In [30]:
df[ ['BedCount'] ]

     BedCount
0         1.0
1         NaN
2         2.0
..        ...
997       3.0
998       2.0
999       1.0

[1000 rows x 1 columns]

In [31]:
df[:5]

,ID,Address,Latitude,Longitude,DateOfSale,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,...,2040.0,sqft,3920.0,sqft,1976.0
3,15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,...,1060.0,sqft,NaN,NaN,1930.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",37804240,-122405509,1/15/16,...,1299.0,sqft,NaN,NaN,1993.0

In [32]:
df = df.set_index('ID')

In [33]:
df.index

Int64Index([  15063471,   15063505,   15063609,   15064044,   15064257,
              15064295,   15064391,   15064536,   15064640,   15064669,
            ...
            2108546010, 2114498518, 2121221385, 2121978635, 2122992200,
            2124214951, 2126960082, 2128308939, 2131957929, 2136213970],
           dtype='int64', name=u'ID', length=1000)

In [34]:
df

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063471,"55 Vandewater St APT 9, San Francisco, CA",37805103,-122412856,12/4/15,710000.00,...,550.0,sqft,NaN,NaN,1980.0
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15063609,"819 Francisco St, San Francisco, CA",37803728,-122419055,11/12/15,5.60,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
2128308939,"33 Santa Cruz Ave, San Francisco, CA",37709136,-122465332,12/10/15,830000.00,...,1738.0,sqft,2299.0,sqft,1976.0
2131957929,"1821 Grant Ave, San Francisco, CA",37803760,-122408531,12/15/15,835000.00,...,1048.0,sqft,NaN,NaN,1975.0
2136213970,"1200 Gough St, San Francisco, CA",37784770,-122424100,1/10/16,825000.00,...,900.0,sqft,NaN,NaN,1966.0

In [36]:
df.loc[15063505]

Address        740 Francisco St, San Francisco, CA
Latitude                                  37804420
Longitude                               -122417389
                              ...
LotSize                                       2435
LotSizeUnit                                   sqft
BuiltInYear                                   1948
Name: 15063505, dtype: object

In [37]:
type(df.loc[15063505])

pandas.core.series.Series

In [38]:
df.loc[15063505].name

15063505

In [39]:
df.loc[ [15063505, 15064044] ]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0

In [40]:
df.iloc[ [1,3] ]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15063505,"740 Francisco St, San Francisco, CA",37804420,-122417389,11/30/15,2.15,...,1430.0,sqft,2435.0,sqft,1948.0
15064044,"199 Chestnut St APT 5, San Francisco, CA",37804392,-122406590,12/11/15,1.50,...,1060.0,sqft,NaN,NaN,1930.0

In [41]:
df.at[15064044, 'DateOfSale']

'12/11/15'

In [43]:
df.iat[3, 3]

'12/11/15'

In [44]:
df.BuiltInYear < 1900

ID
15063471      False
15063505      False
15063609      False
              ...
2128308939    False
2131957929    False
2136213970    False
Name: BuiltInYear, dtype: bool

In [45]:
df[df.BuiltInYear < 1900]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15065140,"1407 Montgomery St APT 2, San Francisco, CA",37802299,-122404941,1/28/16,976000.00,...,1000.0,sqft,NaN,NaN,1870.0
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,...,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,...,1593.0,sqft,NaN,NaN,1895.0
...,...,...,...,...,...,...,...,...,...,...,...
123597223,"1954 Golden Gate Ave, San Francisco, CA",37778246,-122442763,11/24/15,1.10,...,1275.0,sqft,NaN,NaN,1895.0
123597388,"667 Shotwell St # A, San Francisco, CA",37757851,-122415629,2/10/16,775000.00,...,1212.0,sqft,NaN,NaN,1890.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0

In [46]:
df[(df.BuiltInYear < 1900) & (df.Size > 1500)]

,Address,Latitude,Longitude,DateOfSale,SalePrice,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
ID,,,,,,,,,,,
15076156,"1533 Sutter St, San Francisco, CA",37786658,-122426481,11/12/15,5.53,...,7375.0,sqft,2748.0,sqft,1890.0
15078536,"640 Steiner St, San Francisco, CA",37775399,-122432491,12/15/15,1.50,...,1593.0,sqft,NaN,NaN,1895.0
15078866,"753-755 Oak St, San Francisco, CA",37773576,-122431663,11/10/15,375000.00,...,2430.0,sqft,3781.0,sqft,1890.0
...,...,...,...,...,...,...,...,...,...,...,...
82785514,"1394 Mcallister St, San Francisco, CA",37778463,-122434933,11/13/15,2.10,...,2300.0,sqft,NaN,NaN,1890.0
119684777,"967 Hayes St, San Francisco, CA",37775645,-122432222,12/17/15,1.95,...,3006.0,sqft,NaN,NaN,1885.0
2122992200,"129 Octavia St, San Francisco, CA",37773192,-122424037,11/20/15,2.75,...,3655.0,sqft,NaN,NaN,1883.0

In [48]:
df[(df.BuiltInYear < 1900) & (df.Size > 1500)][ ['Address'] ]

                                          Address
ID
15076156        1533 Sutter St, San Francisco, CA
15078536        640 Steiner St, San Francisco, CA
15078866        753-755 Oak St, San Francisco, CA
...                                           ...
82785514    1394 Mcallister St, San Francisco, CA
119684777         967 Hayes St, San Francisco, CA
2122992200      129 Octavia St, San Francisco, CA

[9 rows x 1 columns]

In [49]:
df[(df.BuiltInYear < 1900) & (df.Size > 1500)].Address

ID
15076156          1533 Sutter St, San Francisco, CA
15078536          640 Steiner St, San Francisco, CA
15078866          753-755 Oak St, San Francisco, CA
                              ...
82785514      1394 Mcallister St, San Francisco, CA
119684777           967 Hayes St, San Francisco, CA
2122992200        129 Octavia St, San Francisco, CA
Name: Address, dtype: object

In [50]:
df = pd.read_csv(os.path.join('..', 'datasets', 'zillow-02-starter.csv'))

In [51]:
df.drop(['Latitude', 'Longitude'], axis = 1, inplace = True)

In [52]:
df

,ID,Address,DateOfSale,SalePrice,SalePriceUnit,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.00,$,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",11/30/15,2.15,$M,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",11/12/15,5.60,$M,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.00,$,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.00,$,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.00,$,...,900.0,sqft,NaN,NaN,1966.0

In [53]:
df.SalePriceUnit.unique()

array(['$', '$M'], dtype=object)

In [55]:
df_1 = df[df.SalePriceUnit == '$']

df_1 = df_1.drop('SalePriceUnit', axis = 1)

df_6 = df[df.SalePriceUnit == '$M']

df_6 = df_6.drop('SalePriceUnit', axis = 1)

df_6.SalePrice = df_6.SalePrice * (10 ** 6)

df = pd.concat([df_1, df_6])

In [56]:
df.sort_index()

,ID,Address,DateOfSale,SalePrice,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,False,...,550.0,sqft,NaN,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000.0,False,...,1430.0,sqft,2435.0,sqft,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000.0,False,...,2040.0,sqft,3920.0,sqft,1976.0
...,...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.0,False,...,1738.0,sqft,2299.0,sqft,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.0,False,...,1048.0,sqft,NaN,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.0,False,...,900.0,sqft,NaN,NaN,1966.0

In [57]:
df.IsAStudio = 1 * df.IsAStudio

In [58]:
df

,ID,Address,DateOfSale,SalePrice,IsAStudio,...,Size,SizeUnit,LotSize,LotSizeUnit,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,0,...,550.0,sqft,NaN,NaN,1980.0
4,15064257,"111 Chestnut St APT 403, San Francisco, CA",1/15/16,970000.0,0,...,1299.0,sqft,NaN,NaN,1993.0
5,15064295,"111 Chestnut St APT 702, San Francisco, CA",12/17/15,940000.0,0,...,1033.0,sqft,NaN,NaN,1993.0
...,...,...,...,...,...,...,...,...,...,...,...
990,2108546010,"1738 Lombard St APT 4, San Francisco, CA",1/14/16,1400000.0,0,...,NaN,NaN,NaN,NaN,2004.0
992,2121221385,"925 Larkin St, San Francisco, CA",11/30/15,1430000.0,0,...,6600.0,sqft,NaN,NaN,1907.0
994,2122992200,"129 Octavia St, San Francisco, CA",11/20/15,2750000.0,1,...,3655.0,sqft,NaN,NaN,1883.0

In [59]:
df.SizeUnit.unique()

array(['sqft', nan], dtype=object)

In [60]:
df.drop('SizeUnit', axis = 1, inplace = True)

In [61]:
df.LotSizeUnit.unique()

array([nan, 'sqft', 'ac'], dtype=object)

In [63]:
df_na = df[df.LotSizeUnit.isnull()]
df_na = df_na.drop('LotSizeUnit', axis = 1)

df_na.shape[0]

444

In [64]:
df_sqft = df[df.LotSizeUnit == 'sqft']
df_sqft = df_sqft.drop('LotSizeUnit', axis = 1)

df_sqft.shape[0]

552

In [65]:
df_ac = df[df.LotSizeUnit == 'ac']
df_ac = df_ac.drop('LotSizeUnit', axis = 1)

df_ac.shape[0]

4

In [66]:
df = pd.concat([df_na, df_sqft, df_ac]).sort_index()

In [67]:
df

,ID,Address,DateOfSale,SalePrice,IsAStudio,BedCount,BathCount,Size,LotSize,BuiltInYear
0,15063471,"55 Vandewater St APT 9, San Francisco, CA",12/4/15,710000.0,0,1.0,NaN,550.0,NaN,1980.0
1,15063505,"740 Francisco St, San Francisco, CA",11/30/15,2150000.0,0,NaN,2.0,1430.0,2435.0,1948.0
2,15063609,"819 Francisco St, San Francisco, CA",11/12/15,5600000.0,0,2.0,3.5,2040.0,3920.0,1976.0
...,...,...,...,...,...,...,...,...,...,...
997,2128308939,"33 Santa Cruz Ave, San Francisco, CA",12/10/15,830000.0,0,3.0,3.0,1738.0,2299.0,1976.0
998,2131957929,"1821 Grant Ave, San Francisco, CA",12/15/15,835000.0,0,2.0,2.0,1048.0,NaN,1975.0
999,2136213970,"1200 Gough St, San Francisco, CA",1/10/16,825000.0,0,1.0,1.0,900.0,NaN,1966.0

In [69]:
df.to_csv(os.path.join('..', 'datasets', 'zillow-02.csv'), index_label = 'ID' )