# DS-SF-27 | Lab 02 - Research Design and `pandas`

In this lab, we will be exploring the `Ozone` dataset using `pandas`.

> ## Question 1.  Import `pandas` (as `pd`).

In [ ]:
import os

# TODO

pd.set_option('display.max_rows', 6)
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 10)

In [ ]:
df = pd.read_csv(os.path.join('..', 'datasets', 'ozone.csv'))

> ## Question 2.  Display a few lines of the dataset to the screen.

In [ ]:
# TODO

> ## Question 3.  How many samples (i.e., rows) are in this dataset?

In [ ]:
# TODO

> ## Question 4.  Print the name of each column in the dataset, one name per line.

In [ ]:
# TODO

> ## Question 5.  How many variables (i.e., columns) are in this dataset?

In [ ]:
# TODO

> ## Question 6.  Extract the first 2 rows of the dataset and print them to the console.  What does the output look like?

In [ ]:
# TODO

> ## Question 7.  Extract the last 2 rows of the data frame and print them to the console.  What does the output look like?

In [ ]:
# TODO

> ## Question 8.  What is the value of Ozone in the 47th row?

In [ ]:
# TODO

> ## Question 9.  How many missing values are in the `Ozone` column of this dataset?

In [ ]:
# TODO

> ## Question 10.  What is the mean of the `Ozone` column in this dataset?  Exclude missing values (coded as `NaN`) from this calculation.

In [ ]:
# TODO

> ## Question 11.  Extract the subset of rows of the dataset where `Ozone` values are above 31 and `Temp` values are above 90.

In [ ]:
# TODO

> ## Question 12.  What is the mean of `Solar.R` in this subset?

In [ ]:
# TODO

> ## Question 13.  What is the mean of `Temp` when `Month` is equal to 6?

In [ ]:
# TODO

> ## Question 14.  What was `Ozone`'s maximum in the month of May?

In [ ]:
# TODO